.sideNav{
    list-style: none;
    margin-top: 10px;
    background-color: #f2f2f2;
    margin-top: 0;
    
    
}

.dropdown-menu{
    width: 250px;
}

.sideNav button{
    width: 170px;
    margin-top: 10px;
}

.sideNav li{
    list-style: none;
}
.purple{
    background-color: purple;
    color: white;
}

.section{
    margin: 10px;
}

.card{
    margin-top:40px;
}

.link{
    all: unset;
}

.logo{
    width: 300px;
}

.logo-small{
    width: 300px;
}

.textSmall{
    margin-top: 0;
    font-size: x-small;
}

.top{
    margin-bottom: 0;
}

.table p{
    margin-bottom: 0;
}

.list-bg{
    list-style-position: inside;
}

.list-bg li{
    background: #bcbcbc;
    padding: 5px;
    margin-bottom: 10px;
}

.none-bg li{
    background: none;
    padding: 0;
}
.outside{
    list-style-position: outside;
}
.roman{
    list-style-type: lower-alpha;
}

@media screen {
    #printSection {
        display: none;
    }
  }
  
  @media print {
    body * {
      visibility:hidden;
    }
    #printSection, #printSection * {
      visibility:visible;
    }
    #printSection {
      position:absolute;
      left:0;
      top:0;
    }
    
  }
  .container {
    width: 100%;
    height: 70vh;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iframe-container {
    width: 100%;
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  .isi {
    height: 75v;
  }